body {
  background: rgba(26, 26, 29, 0.993);
}

.input-email {
  border: none;
  width: 300px;
  padding: 4px;
  border-radius: 5px;
  outline: none;
  color: white;
  background: rgb(33, 40, 48);
}

.btn {
  margin-left: 30px !important;
}